@import url("./normalize.css");
@import url("./a11y.css");
@import url("./theme.css");
@import url("./base.css");

/* Common Class */
.default-layout{
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}


body{
  background-color: yellow;
}

.header{
  background-color: orange;
  height: 15vh;
}

.navigation{
  background-color: silver;
  height: 15vh;
}

.main{
  background-color: purple;
  height: 60vh;
}

.footer{
  background-color: salmon;
  height: 10vh;
}

@media (min-width: 320px) and (max-width: 767px){
  body{
    background-color: pink;
  }
}

@media (min-width: 768px) {
  body{
    background-color: skyblue;
  }

  .buttonWrapper{
    display: none;
  }

  /* .header, .main{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  } */
  .header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .header__inner{
    max-width: var(--container-width);
    width: 100%;
    height: 100%;
    background-color: red;
  }

}