@import url("./normalize.css");
@import url("./a11y.css");
@import url("./theme.css");
@import url("./base.css");

/* 공통 클래스 모듈 */
.button {
  cursor: pointer;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.75rem;
  white-space: nowrap;
  font-size: var(--text-sm);
}

.button--none {
  border: 0;
  padding: 0;
  background: transparent;
}

.button--fill {
  background: var(--secondary-color);
  color: var(--white);
  border: 0;
}

.button--outline {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid currentColor;
}

/* 공통 스타일 */

/* 공통 레이아웃 */
.appHeader{
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 공통 헤더 스타일 */
.appHeader{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  /* gap: var(--spacing-base); */
}

/* 공통 로고 */
.logo{
  width: 100%;
}

/* 공통 멤버 링크 모음 */
.memberOnly{
  order: -1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.memberOnly li{
  display: flex;
  align-items: center;
}

/* 공동 검색 폼 */
.searchForm{
  width: 100%;
  margin-top: var(--spacing-base);
}

/* 공통 검색 폼 */
input[type="search"] {
  appearance: none;
}

.searchForm__group {
  display: flex;
  flex-flow: row nowrap;
}

.searchForm__group .formInput {
  margin-right: var(--spacing-xs);
}

.searchForm__group .formInput__input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--silver);
  background: var(--white);
  border-radius: 0.25rem;
  padding: 0.125rem 0.75rem;
}

.appNavigation{
  background-color: silver;
  height: 15vh;
}

.appMain{
  background-color: purple;
  height: 60vh;
}

.appFooter{
  background-color: salmon;
  height: 10vh;
}

/* 모바일 디바이스 */
@media (min-width: 320px) and (max-width: 767px){
  /* 모바일 헤더 */
  .appHeader{
    background-color: var(--primary-color);
    color: #fff;
  }

  /* 모바일 검색 폼 */
  .searchForm__group .formInput {
    flex-grow: 1;
  }

  /* 모바일 메인 메뉴 제어 버튼 */
  .buttonWrapper{
    position: absolute;
    right: var(--spacing-lg);
    top: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: red;
  }

  .button--burger{
    width: 100%;
    height: 100%;
    background-color: teal;
  }

  .button--burger span{
    display: block;
    width: 100%;
    height: 15px;
    border: 1px solid blue;
    margin-bottom: 5px;
  }

  .button--burgerBarTop, .button--burgerBarMiddle, .button--burgerBarBottom{
    border-color: yellow !important;
  }
  
}

/* 데스크탑 디바이스 */
@media (min-width: 768px) {
  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    width: auto;
    top: 50%;
    left: var(--spacing-lg);
    transform: translateY(-50%);
  }

  .logo__link{
    display: block;
    width: 12.75rem;
  }

  /* 데스크탑 검색 폼 */
  .searchForm__group {
    justify-content: flex-end;
  }

  .searchForm__group .formInput {
    width: 25rem;
  }

  /* 데스크탑 메인 메뉴 제어 버튼 */
  .buttonWrapper{
    display: none;
  }

  /* 데스크탑 레이아웃 */
  .appHeader, .appMain{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }
}