@import url("./normalize.css");
@import url("./a11y.css");
@import url("./theme.css");
@import url("./base.css");

/* Common Class */
.default-layout{
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: yellow;
}

/* 공통 스타일 */
/* 공통 헤더 스타일 */
.header{
  background-color: orange;
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

/* 공통 로고 */
.logo{
  width: 100%;
  background-color: yellow;
}

/* 공통 멤버 링크 모음 */
.memberOnly{
  order: -1;
  width: 100%;
  background-color: tomato;
}

/* 공동 검색 폼 */
.searchForm{
  width: 100%;
  background-color: aqua;
}


.navigation{
  background-color: silver;
  height: 15vh;
}

.main{
  background-color: purple;
  height: 60vh;
}

.footer{
  background-color: salmon;
  height: 10vh;
}

/* 모바일 디바이스 */
@media (min-width: 320px) and (max-width: 767px){
  body{
    background-color: pink;
  }
}

/* 데스크탑 디바이스 */
@media (min-width: 768px) {
  body{
    background-color: skyblue;
  }

  /* 데스크탑 헤더 */
  .header{
    position: relative;
  }

  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    width: auto;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .logo__link{
    background-color: lime;
    display: block;
    width: 12.75rem;
  }

  .buttonWrapper{
    display: none;
  }

  .header, .main{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }
}